<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= @number_of_dice %>d<%= @number_of_sides %></h1>

  <ul>
    <% @rolls.each do |a_roll| %>
      <li>
        <%= a_roll %>
      </li>
    <% end %>
  </ul>

  <a href="/" style="text-decoration: none; padding: 8px 15px; background-color: #007BFF; color: white; border-radius: 5px; border: none; display: inline-block;">Return Home</a>

</body>
</html>
